@model IdentityServer.EmailService.cs.Models.DeveloperActivationModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
</head>
<body>
    <a href="@Model.ActivationUrl">Click</a>
</body>
</html>