@using Authority.Services.Dto
@using Authority.Web.Infrastructure.HtmlHelpers
@model IEnumerable<ProductSimpleDto>

@{
    ViewBag.Title = "Developer Dashboard";
}

<h3>Your products</h3>

<ul>
    @foreach (ProductSimpleDto product in Model)
    {
        <li>
            @Html.RestLink(product.Name, "products/details/{0}", product.Id)
        </li>
    }
</ul>

@Html.RestLink("New product", "products/new")